<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = User.avatar_url(@user, 128) %>
       <% unless avatar_url.nil? %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>

   <% if !no_posts(user) %>
     <h2>Posts</h2>
     <%= render @user.posts %>

     <h2>Comments</h2>
     <%= render @user.comments %>
   <% end %>

<!-- I'm trying to get the post for the favorite -->

     <h2>Favorites</h2>
     <% @user.favorites.posts.each do |post| %>
       <%= link_to Post.find(params[:post_id])%>
     <% end %>

     <div class="media-left">
       <%= image_tag avatar_url, class: 'media-object' %>
     </div>

     <h2>Votes: <%= @user.votes.count %></h2>
     <h2>Comments: <%= @user.comments.count %></h2>
